@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* https://fonts.google.com/specimen/Titillium+Web */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
    max-width: 1600px;
}

.skip-to-main-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Jeg snakket med ChatGPT når det gjelder CSS'en for å hjemme skip to main linken. Jeg har gjort det før, men husket ikke helt clip: rect syntaxen osv. */

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}

/* Header */

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

nav {
    text-align: center;
}

.nav-links {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #e6bd43;
    padding: 1rem 1.5rem;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-logo {
    width: 30%;
    max-width: 100px;
    margin-top: 5%;
}

header nav ul li {
    margin: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Main */

main {
    grid-area: main;
}

/* Footer */

footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
}

footer p {
    color: white;
    margin-bottom: 1rem;
}

#footer-logo {
    max-width: 100px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.fa-brands {
    color: white;
    font-size: 2rem;
}

/* Index Page */

/* Index Grid */

.index-grid {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
}

/* Introduction Section */

.introduction {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../img/blablabla.jpg);
    /* Bilde: https://pixabay.com/no/photos/puter-ark-seng-senget%C3%B8y-820149/ */
    /* Måtte ty til Stack Overflow her da alle bildene mine nektet å bli hvitere via background-color: rgba(value, value, value, value). Løsningen jeg fant var å gjøre dette via linear-gradient istedet. https://stackoverflow.com/questions/7241341/can-i-set-an-opacity-only-to-the-background-image-of-a-div */
}

.compelling-headline {
    text-align: center;
    margin: 15% 30% 5% 30%;
}

.introduction-p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.introduction-button {
    margin-top: 10%;
    margin-bottom: 15%;
    background-color: #e6bd43;
    padding: 1rem 2rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}


/* Help Visitors Section */

.help-visitors {
    grid-row-start: 2;
}

.help-visitors-h2 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 5%;
}

.help-visitors-p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

/* About Our Company Section */

.about-our-company-frontpage {
    background-color: #e6bd43;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

}

.about-our-img {
    max-width: 80%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.headline-and-paragraph {
    display: flex;
    flex-direction: column;
}

.about-our-h2 {
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;

}

.about-our-p {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}

.read-more-button {
    margin-bottom: 0;
    border: 4px solid black;
    padding: 1rem 1.5rem;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

/* Our Services Section */

#our-services {
    grid-row-start: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.our-services-branding, .our-services-upload, .our-services-development, .our-services-support {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

/* Newsletter Section */

.newsletter {
    background-color: lightgrey;
    grid-row-start: 5;
    padding-bottom: 10%;
}

.h3-newsletter {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

#email-label {
    display: none;
}

.input-container {
    display: flex;
    justify-content: center;
}

.sign-me-up-button {
    background-color: #e6bd43;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

#email {
    height: 2.5rem;
    width: 14rem;
}

/* Products Page */

/* Products Grid */

.products-grid {
    display: grid;
    grid-template-rows: 40vh repeat(4, auto);
    gap: 2rem;
}

/* Portfolio Section */

.portfolio {
    grid-row-start: 1;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),url('../img/computer.jpg');
    /* Bilde: https://pixabay.com/no/photos/datamaskin-notisbok-kaffe-820281/ */
    /* Måtte ty til Stack Overflow her da alle bildene mine nektet å bli hvitere via background-color: rgba(value, value, value, value). Løsningen jeg fant var å gjøre dette via linear-gradient istedet. https://stackoverflow.com/questions/7241341/can-i-set-an-opacity-only-to-the-background-image-of-a-div */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-portfolio {
    font-size: 2.5rem;
}

/* Explore Previous Jobs Section */

.explore-previous-jobs {
    grid-row-start: 2;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.previous-jobs-buttons-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.previous-jobs-buttons {
    border: 0.1rem solid black;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.explore-previous-jobs-h2 {
    margin-bottom: 1rem;
}

.explore-previous-jobs-hr {
    width: 100%;
    background-color: #e6bd43;
    height: 0.1rem;
    margin-bottom: 10%;
}


/* Portfolio Article Cards Section */

article {
    margin-bottom: 3rem;
    max-width: 692px;
    flex-grow: 1;
}

.article-img-1 {
    width: 100%;
}

/* Jeg snakket med Chat GPT her. Jeg følte at jeg hadde en relativt ok forståelse for flex-grow og shrink, men det funket ikke. Ting begynte å fungere når jeg la width: 100% på artikkel-bildene, og det var Chat GPT som fikk meg til å prøve det. */

hr {
    width: 100%;
    background-color: #e6bd43;
    color: #e6bd43;
    border-color: #e6bd43;
    height: 0.15rem;
    margin-bottom: 5%;
}

/* Måtte ty til Stack Overflow for å HR'ene synlige: https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element */

.portfolio-h3 {
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

.portfolio-p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Branding Section */

#portfolio-branding {
    grid-row-start: 3;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

/* Design Section */

#portfolio-design {
    grid-row-start: 4;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

/* Development Section */

#portfolio-development {
    grid-row-start: 5;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

/* About Page */

/* About Grid */

.about-grid {
    display: grid;
    grid-template-rows: 100vh repeat(4, auto);
    grid-template-columns: 1fr;
}

/* About Our Company Section */

.background-image-aboutpage {
    grid-row-start: 1;
    background-image: url('../img/coffee.jpg'); /* Bilde: https://pixabay.com/no/photos/kopp-kaffe-laptop-kontor-macbook-1280537/ */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-our-company-aboutpage {
    background-color: #fff;
    opacity: 0.9;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.about-our-services-h1 {
    order: 2;
    margin-top: 1rem;
    text-align: left;
    width: 80%;
}

.company-name {
    order: 1;
    margin-top: 1rem;
    color: #252525;
    width: 80%;
}

.about-our-company-p {
    order: 3;
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    color: #252525;
}

.about-our-company-button {
    order: 4;
    margin-top: 1rem;
    width: 80%;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #e6bd43;
    padding: 1rem 1rem;
}


/* Our Services Section */

.our-services-aboutus {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3rem;
    padding-bottom: 2rem;
}

.our-services-branding-aboutpage, .our-services-upload-aboutpage, .our-services-development-aboutpage, .our-services-support-aboutpage {
    text-align: center;
}

.our-services-aboutus-h2 {
    margin-top: 2rem;
}

.ourservices-p {
    margin-top: 0.5rem;
}

.ourservicesicon {
    font-size: 2rem;
    margin-top: 0.5rem;
}

/* Clients Section */

.clients {
    grid-row-start: 3;
    background-color: #e6bd43;
    padding-bottom: 3rem;
}

.clients-h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.company-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.company-logo {
    min-width: 35%;
}

/* Contact Us Section */

#contact-us-form-and-info {
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgrey;
    padding-bottom: 3rem;
}

/* Contact Us Form Section */

.contact-us-form {
    margin-left: 10%;
    margin-right: 10%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-h2 {
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.send-us-a-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.labels {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.send-message {
    background-color: #e6bd43;
    font-weight: bold;
    border: none;
    padding: 1rem;
}

#name {
    margin-bottom: 0.5rem;
    width: 25em;
    height: 3em;
    border: none;
}

#subject {
    margin-bottom: 0.5rem;
    width: 25em;
    height: 3em;
    border: none;
}

#message {
    margin-bottom: 0.5rem;
    width: 25em;
    height: 12em;
    border: none;
}

/* Contact Information Section */

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.contact-info-h2 {
    margin-top: 3rem;
}

.location, .phone-number, .email-address {
    display: flex;
    gap: 2rem;
}

.contact-info-p {
    margin-bottom: 0.5rem;
}

.hiof-email {
    text-decoration: underline;
    color: blue;
}

/* Interactive Map Section */ 

.interactive-map {
    grid-row-start: 5;
    height: 100%;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

/* Desktop */

/* Jeg spurte ChatGPT hva det beste breakpointet var når man bare skulle konstruere nettsider for mobil og desktop. */

@media screen and (min-width: 768px) {
    
    /* Desktop Grid */
    
    .grid-container {
        display: grid;
        grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
        grid-template-columns: 3fr;
        grid-template-rows: 3fr;
    }
    
    /* Header */

    header {
        grid-area: header;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 1rem;
        margin: 0 2.5% 0 2.5%;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 1rem;
    }
    
    ul {
        height: auto;
        display: flex;
    }
    
    .nav-links {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    
    .contact-button {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #e6bd43;
        padding: 1rem 1.5rem;
        width: 12rem;
    }
    
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #company-logo {
        margin-top: 2%;
        width: 100%;
        max-width: 100px;
    }

    /* Index Grid */

    .index-grid {
        display: grid;
        grid-template-rows: 45vh repeat(3, auto) 35vh;
        grid-template-columns: repeat(3, auto);
        gap: 2rem;
    }

    /* Introduction Section */
    
    .introduction {
        grid-column: span 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .compelling-headline {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    .introduction-p {
        text-align: center;
        margin: 0;
        width: 40%;
    }
    
    .introduction-button {
        margin: 0;
        background-color: #e6bd43;
        padding: 0.7rem 1rem;
        text-align: left;
        font-weight: bold;
        font-size: 1rem;
    }

    /* Help Visitors Section */
    
    .help-visitors {
        grid-column: span 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .help-visitors-h2 {
        font-size: 2rem;
        margin-left: 30%;
        margin-right: 30%;
    }

    .help-visitors-p {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: -2rem;
    }

    /* About Our Company Section */

    /* About Our Company Section */

    .about-our-company-frontpage {
        background-color: #e6bd43;
        grid-column: span 3;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .headline-and-paragraph {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
    }

    .about-our-img {
        max-width: 80%;
        margin: 0;
    }

    .about-our-h2 {
    margin: 0;

    }

    .about-our-p {
        margin: 0 20% 0 0;
    }

    .read-more-button {
        margin: 0 82% 0 0;
    }

    /* Our Services Section */

    #our-services {
        grid-column: span 3;
        display: grid;
        margin: 0;
        grid-template-columns: 1rem repeat(4, 1fr) 1rem;
        grid-template-rows: auto auto;
    }

    .index-h2-ourservices {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 1;
        text-align: center;
        font-size: 2rem;
    }

    .our-services-branding {
        grid-row: 2;
        grid-column: 2;
    }

    .our-services-upload {
        grid-row: 2;
        grid-column: 3;
    }

    .our-services-development {
        grid-row: 2;
        grid-column: 4;
    }

    .our-services-support {
        grid-row: 2;
        grid-column: 5;
    }
    

    /* Newsletter */

    .newsletter {
        grid-column: span 3;
        padding: 0;
    }

    .h3-newsletter {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: bolder;
    }

    /* Footer */

    footer {
        background-color: black;
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1rem;
    }
    
    footer p {
        color: white;
        margin: 0;
    }
    
    #footer-logo {
        width: 15%;
        max-width: 100px;
        margin: 0;
    }
    
    .social-media-icons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .fa-brands {
        color: white;
        font-size: 2rem;
    }

    /* About Page */

    .about-grid {
        display: grid;
        grid-template-rows: 65vh repeat(4, auto);
        grid-template-columns: 1fr 1fr 1fr;
    }

    .background-image-aboutpage {
        grid-column: span 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .about-our-company-aboutpage {
        width: 50%;
        height: 85%;
        margin-right: 2rem;
    }

    .about-our-services-h1 {
        order: 2;
        margin: 0;
        text-align: left;
        width: 90%;
    }
    
    .company-name {
        order: 1;
        margin-top: 2rem;
        color: #252525;
        width: 90%;
    }
    
    .about-our-company-p {
        order: 3;
        margin: 0;
        color: #252525;
        width: 90%;
    }
    
    .about-our-company-button {
        order: 4;
        font-size: 1rem;
        font-weight: bold;
        background-color: #e6bd43;
        padding: 0.8rem 0.5rem;
        margin-top: -0.5rem;
        margin-right: auto;
        margin-left: 5%;
        max-width: 200px;
        text-align: center;
    }

    /* Our Services */

    .our-services-aboutus {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        grid-template-rows: auto auto;
    }
   
    .our-services-aboutus-h2 {
        font-size: 3rem;
        grid-row: 1;
        grid-column-start: 3;
        grid-column-end: 5;
        text-align: center;
    }

    .our-services-branding-aboutpage {
        grid-row: 2;
        grid-column: 2;
    }

    .our-services-upload-aboutpage {
        grid-row: 2;
        grid-column: 3;
    }

    .our-services-development-aboutpage {
        grid-row: 2;
        grid-column: 4;
    }

    .our-services-support-aboutpage {
        grid-row: 2;
        grid-column: 5;
    }

    /* Client Section */

    .clients {
        grid-column: span 3;
    }

    .clients-h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .company-logo-img {
        width: 8rem;
        margin: 1rem;
    }

    /* Contact Us Form */
    
    #contact-us-form-and-info {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 2rem auto auto auto 2rem;
        grid-template-rows: 3rem 5rem auto 1rem;
    }

    .form-h2 {
        text-align: center;
        grid-column-start: 3;
        grid-row-start: 2;
        font-size: 3rem;
    }

    .contact-us-form {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .contact-information {
        grid-column-start: 4;
        grid-row-start: 3;
        padding: 0;
        margin: 0;
    }

    .contact-us-form {
        margin: 0;
        padding: 0;
    }
    
    .form-h2 {
        text-align: center;
        margin: 0;
    }
    
    .send-us-a-message {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    
    .labels {
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0;
    }
    
    .send-message {
        background-color: #e6bd43;
        font-weight: bold;
        border: none;
        padding: 1rem;
    }
    
    #name {
        margin-bottom: 0;
        width: 50em;
        height: 3em;
        border: none;
    }
    
    #subject {
        margin: 0;
        width: 50em;
        height: 3em;
        border: none;
    }
    
    #message {
        margin: 0;
        width: 50em;
        height: 12em;
        border: none;
    }

    /* Interactive Map */

    .interactive-map {
        grid-column: span 3;
        overflow: hidden;
    }

    /* Other */

    .contact-button:hover, .introduction-button:hover, .read-more-button:hover, .sign-me-up-button:hover, .previous-jobs-buttons:hover, .about-our-company-button:hover, .send-message:hover {
        background-color: #252525;
        color: #e6bd43;
        cursor: pointer;
    }

    .article-img-1 {
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }
    
    .article-img-1:hover {
        transform: scale(1.1);
    }

    /* Jeg snakket med Chat GPT ang nederste linje (transition: transform). Jeg har gjort dette før, men hadde glemt syntax'en. Trodde bla lenge det var transform: transform. */

    .nav-link-home, .nav-link-about, .nav-link-portfolio {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #e6bd43;
    }

    /* Slet fælt med dette. Endte opp på Stack Overflow. https://stackoverflow.com/questions/1175383/changing-a-link-underline-color */
    
}

